<div id="wrapper">
            <div id="header">
                <div class="container"> 

                    <div id="logo">
                        <h2>Residencial Life</a></h2>
                    </div>
                    
                </div>
            </div>
    <div id="page" style="margin-top:40px;margin-left:10px">
         <div class="container-fluid">
            <h4>Caixa d'água dos Blocos</h4>


            <!-- Primeira Linha -->
              <div class="row">
                    <div class="col-md-6">
                
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge10c" width="50%" height="100" onclick="window.location.href='#/cisternaDash_bl10'">
                            </svg>

                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center">Bloco 10 - Cisterna</div>
                            
                        </div>
                        </div>
                            
                    </div>
            
        </div>  
    </div>
</div>