<div id="wrapper">
            <div id="header">
                <div class="container"> 

                    <div id="logo">
                        <h2>Residencial Life</a></h2>
                    </div>
                    
                </div>
            </div>
    <div id="page" style="margin-top:40px;margin-left:10px">
         <div class="container">
            <h4>Caixa d'água dos Blocos</h4>


            <!-- Primeira Linha -->
                    <div class="row">
                    <div class="newcontainer">
                    <div class="bloco">
                   
                    <div class="cisterna-right">

                            <svg id="fillgauge1c" width="50%" height="100"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> BL1 - Cisterna </div>
                            </div>


                    <div class="cisterna-left">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge1r" width="50%" height="100"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> BL1 - Caixa </div>
                            
                    </div> 
                    </div>
                    </div>
                    
                    <div class="bloco">
                   
                    <div class="cisterna-right">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge2c" width="50%" height="100"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center">BL2 - Cisterna </div>
                            
                    </div>
                    </div>
                    <div class="cisterna-left">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge2r" width="50%" height="100"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center">BL2 - Caixa </div>
                            
                            </div>
                    </div>
                    </div>

                    </div>
                    </div>
                    <br>
                       <!-- Segunda Linha -->
                    <div class="row">
                    <div class="newcontainer">
                    <div class="bloco">
                    <div class="cisterna-right">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge3c" width="50%" height="100"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> BL3 - Cisterna </div>
                    </div>
                    </div>

                    <div class="cisterna-left">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge3r" width="50%" height="100"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> BL3 - Caixa </div>
                            
                    </div>
                    </div>
                    </div>

                    <div class="bloco">
                    <div class="cisterna-right">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge4c" width="50%" height="100"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> BL4 - Cisterna </div>
                            
                    </div>
                    </div>
                    <div class="cisterna-left">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge4r" width="50%" height="100"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> BL4 - Caixa </div>
                            
                    </div>
                    </div>

                    </div>
                    </div>
                    </div>
                    <br>
   <!-- Terceira Linha -->
                    <div class="row">
                    <div class="newcontainer">
                    <div class="bloco">
                    <div class="cisterna-right">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge5c" width="50%" height="100"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> BL5 - Cisterna </div>
                    </div>
                    </div>

                    <div class="cisterna-left">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge5r" width="50%" height="100"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> BL5 - Caixa </div>
                            
                    </div>
                    </div>
                    </div>
                    <div class="bloco">

                    <div class="cisterna-right">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge6c" width="50%" height="100"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> BL6 - Cisterna </div>
                            
                    </div>
                    </div>
                    <div class="cisterna-left">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge6r" width="50%" height="100"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> BL6 - Caixa </div>
                            
                    </div>
                    </div>
                    </div>

                    </div>
                    </div>
                    <br> 
                       <!-- Quarta Linha -->
                    <div class="row">
                    <div class="newcontainer">
                    <div class="bloco">
                    <div class="cisterna-right">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge7c" width="50%" height="100"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> BL7 - Cisterna </div>
                    </div>
                    </div>

                    <div class="cisterna-left">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge7r" width="50%" height="100"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> BL7 - Caixa </div>
                            
                    </div>
                    </div>
                    </div>
                    <div class="bloco">

                    <div class="cisterna-right">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge8c" width="50%" height="100"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> BL8 - Cisterna </div>
                            
                    </div>
                    </div>
                    <div class="cisterna-left">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge8r" width="50%" height="100"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> BL8 - Caixa </div>
                            
                    </div>
                    </div>
                    </div>

                    </div>
                    </div>
                    <br>
                       <!-- Quinta Linha -->
                    <div class="row">
                    <div class="newcontainer">
                    <div class="bloco">
                    <div class="cisterna-right">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge9c" width="50%" height="100"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> BL9 - Cisterna </div>
                    </div>
                    </div>

                    <div class="cisterna-left">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge9r" width="50%" height="100"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> BL9 - Caixa </div>
                            
                    </div>
                    </div>
                    </div>
                    <div class="bloco">

                    <div class="cisterna-right">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge10c" width="50%" height="100"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> BL10 - Cisterna </div>
                            
                    </div>
                    </div>
                    <div class="cisterna-left">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge10r" width="50%" height="100"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> BL10 - Caixa </div>
                            
                    </div>
                    </div>
                    </div>

                    </div>
                    </div>
                    <br> 
                    <!-- Sexta Linha -->
                    <div class="row">
                    <div class="newcontainer">
                    <div class="bloco">
                    <div class="cisterna-right">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge11c" width="50%" height="100"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> BL11 - Cisterna </div>
                    </div>
                    </div>

                    <div class="cisterna-left">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge11r" width="50%" height="100"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> BL11 - Caixa </div>
                            
                    </div>
                    </div>
                    </div>
                    <div class="bloco">

                    <div class="cisterna-right">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge12c" width="50%" height="100"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> BL12 - Cisterna </div>
                            
                    </div>
                    </div>
                    <div class="cisterna-left">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge12r" width="50%" height="100"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> BL12 - Caixa </div>
                            
                    </div>
                    </div>
                    </div>

                    </div>
                    </div>
                    <br>                 
            </div>
            
        </div>  
    </div>
</div>