<div id="wrapper">
            <div id="header">
            <a href="#/singlescreen"><p style="text-align:right;"><button type="button" class="button">Ampliar</button></p></a> 
            <br>
                <div class="container"> 


                    <div id="logo">
                        <h2>Residencial Life</a></h2> 
                    </div>
                    
                </div>
            </div>
    <div id="page" style="margin-top:40px;margin-left:10px">
         <div class="container">
            
                    <div class="row">
                
                    <div class="newcontainer">
                 
                    
                    <div class="cisterna">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge10c" width="50%" height="100" onclick="window.location.href='#/cisternaDash_bl10'">
                            </svg>

                            </div>
                            <div class="6u chart-wrapper">
                            <div class="eminstalacao" style="text-align: center">Bloco 10-Cisterna</div>
                            <div class="description">Capacidade ??? Litros<br>
                            <span style="color:#E53A0F">Nível 3: Transbordo</span><br> 
                            <span style="color:#008100">Nível 2: Normal</span><br>
                            <span style="color:#FFCE00">Nível 1: Atenção</span><br>
                            <span style="color:#E53A0F">Nível 0: Vazio</span><br>
                            <span> Status da Bomba: </span><span id="bomba"></span>
                            </div>
                            
                    </div>
        
                    </div>
       
                    
                    </div>
                    </div>
                                         
            </div>
            
        </div>  
    </div>
</div>