<div id="wrapper">
            <div id="header">
            <a href="#/singlescreen"><p style="text-align:right;"><button type="button" class="button">Ampliar</button></p></a> 

            <div class="container-fluid"> 
                <div class="row">
                  <div class="col-xs-6 col-sm-3"><p class="text-left"></p><span id="imgNetwork"><strong> Status do Sistema: </strong> </span></div>
                  </div>
                  </div>
           
      
                    <div id="logo">
                        <h2>Residencial Life</a></h2> 
                    </div>
                    
                </div>
            </div>
    <div id="page" style="margin-top:40px;margin-left:10px">
         <div class="container-fluid">
            
                    <div class="row">
                    <div class="col-md-6">
                
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge10c" width="50%" height="100" onclick="window.location.href='#/cisternaDash_bl10'">
                            </svg>
                            
                            <span class=classPump1 id="pump1" style="vertical-align: bottom;"></span>
                            
                            <span id="pump2"></span>
                                
                            
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center">Bloco 10-Cisterna</div>
                            <div class="description">Legenda<br>
                            <span style="color:#800080">Nível 4: Transbordo</span><br> 
                            <span style="color:#008100">Nível 3: Alto</span><br> 
                            <span style="color:#178BCA">Nível 2: Médio</span><br>
                            <span style="color:#FFCE00">Nível 1: Baixo</span><br>
                            <span style="color:#E53A0F">Nível 0: Vazio</span><br>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-6">
                
                            <div class="6u chart-wrapper">
                            <div id="chartbl10" style="height: 140px; width: 100%;"></div>

                            </div>

                            
                        </div>
                        </div>
                            
                    </div>
        
        </div>
       
                    
                    </div>
                    </div>
                                         
            </div>
            
        </div>  
    </div>
</div>